<div fxLayout="row" fxLayoutAlign="center end" fxLayoutAlign.gt-xs="center start" fxLayoutGap="10px">
    <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutGap="10px" fxFlex="50">
            
                <h1>What is Lorem Ipsum?</h1>
            

            <p fxFlex="50">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been
                the
                industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to
                make
                a
                type specimen book.</p>
        </div>
        <div class="divImage" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="center center">
            <img src="../assets/Lorem-Ipsum-alternatives.png" alt="">
        </div>


    </div>
</div>